<footer>
  <p class="footer-text">
    <img class="bottom-vertical" src="assets/images/educosystem.png" alt="Logo" height="70">
  </p>
  <p class="footer-text">Eduportal is part of the EduEcosystem project</p>
  <p class="footer-text">Licensed in <a href="https://www.gnu.org/licenses/">GPLV3.0</a></p>
</footer>
