<mat-toolbar role="heading" id="header" [class.mat-elevation-z4]="!scrollInTop">
  <button mat-icon-button aria-label="menu" (click)="clicked()">
    <mat-icon>menu</mat-icon>
  </button>
  <img src="assets/images/eduportal.png" alt="Logo" height="50">
  <span class="fill-remaining-space"></span>
  <button mat-icon-button aria-label="menu" (click)="login()">
    Log in
  </button>
  <button mat-icon-button aria-label="menu" (click)="logout()">
    Log out
  </button>
</mat-toolbar>
