<mat-sidenav-container hasBackdrop="true" role="navigation">
  <mat-sidenav #drawer mode="over" role="navigation" fixedInViewport="true">
    <button mat-flat-button class="navigation-button" routerLink="" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}" (click)="drawer.toggle()">
      <mat-icon>home</mat-icon> Home
    </button><br>
    <button mat-flat-button class="navigation-button" routerLink="schoolYear" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{exact:true}" (click)="drawer.toggle()">
      <mat-icon>school</mat-icon> School years
    </button><br>
  </mat-sidenav>
  <mat-sidenav-content class="main-sidenav-container" role="main" fixedInViewport="true">
    <app-header (toogleNavbar)="drawer.toggle()"></app-header>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
