// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-white: (
  50: #ffffff,
  900: #37474f,
  contrast: (
    50: $dark-primary-text,
    900: $light-primary-text,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$eduportal-web-primary: mat-palette($mat-white, 50, 50, 900);
$eduportal-web-accent: mat-palette($mat-light-blue, 300, 100, 900);

// The warn palette is optional (defaults to red).
$eduportal-web-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$eduportal-web-theme: mat-light-theme($eduportal-web-primary, $eduportal-web-accent, $eduportal-web-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($eduportal-web-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html,
body {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba($color: #000000, $alpha: 0);
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.bottom-vertical {
  vertical-align: bottom;
}

button:focus,
button:active:focus,
button.active:focus {
  outline: none;
}

.mat-toolbar {
  z-index: 10
}

mat-sidenav,
.navigation-button {
  width: 304px;
  font-size: medium !important;
  text-align: left !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.navigation-button {
  height: 56px;
}

#header {
  position: fixed;
}

#content {
  margin-top: 84px;
  min-height: calc(100vh - 64px - 166px);
}

.footer-text {
  padding-left: 16px;
  font-size: small;
}

.active-link {
  background-color: $dark-focused;
  color: mat-color($mat-light-blue, 300);
}
