.list {
  margin-top: 16px;
}

.container {
  margin-top: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 16px;
}
mat-form-field {
  width: 100%;
}

mat-hint {
  color: #f44336;
}

a {
  text-decoration: none !important;
}

mat-paginator {
  margin-bottom: 16px;
}

mat-action-list {
  margin-left: 16px;
  margin-right: 16px;
}

.disabledItem {
  color: #646464;
  text-decoration: line-through;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
