<div class="container">
  <mat-form-field color="accent" aria-label="Search name" appearance="fill">
    <mat-label>Name</mat-label>
    <input #filter matInput placeholder="Ex. 1º ESO" (keyup)="onKey(filter.value)">
    <mat-icon matSuffix>search</mat-icon>
    <mat-hint *ngIf="filterError">At least you have to add 3 characters</mat-hint>
  </mat-form-field>
</div>
<div class="container" [class.mat-elevation-z2]="true">
  <mat-paginator color="accent" [class.mat-elevation-z1]="true" [length]="size" [pageSize]="10" [pageSizeOptions]="[5,10,25,50]" (page)="changePage($event)">
  </mat-paginator>

  <mat-action-list role="list">
    <a class="list" mat-list-item #list *ngFor="let schoolYear of schoolYears; let i = index" role="listitem"
    [routerLink]="['/schoolYear', schoolYear.cod]">
      <div [class.disabledItem]="schoolYear.visible===false">{{schoolYear.name}}</div>
      <span class="fill-remaining-space"></span>
      <button mat-icon-button *ngIf="schoolYear.visible === true;" mat-icon-button aria-label="Make invisible"
        (click)="toogleVisibility($event,list, i)">
        <mat-icon>visibility_off</mat-icon>
      </button>
      <button mat-icon-button *ngIf="schoolYear.visible === false;" mat-icon-button aria-label="Make visible"
        (click)="toogleVisibility($event,list, i)">
        <mat-icon>visibility</mat-icon>
      </button>
    </a>
  </mat-action-list>
</div>
